<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>NDSmart Email Template</title>
</head>
<body>
<p>本邮件来自<strong>{SYSTEM_NAME}</strong><br />
  <br />
  <strong>---------------------</strong><br />
  <strong>{TITLE}说明</strong><br />
  <strong>---------------------</strong><br />
  <br />
  尊敬的<span>{USERNAME}</span>，您好。如果您是<strong>{SYSTEM_NAME}</strong>的新用户，或在修改您的注册Email时使用了本地址，我们需要对您的地址有效性进行验证以避免垃圾邮件或地址被滥用。<br />
  您只需点击下面的链接即可操作<strong>{TITLE}</strong>：<br />
  <a title="" href="{SYSTEM_URL}" target="_blank">{SYSTEM_URL}</a><br />
  (如果上面不是链接形式，请将该地址手工粘贴到浏览器地址栏再访问)<br />
  感谢您的访问，祝您使用愉快！<br />
  <br />
  此致<br />
<strong>{SYSTEM_NAME}</strong> 管理团队</p>
</body>
</html>